@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: rgb(237, 237, 237);
    text-decoration: none;
    font-family: 'Ubuntu Mono','monospace';
    font-size: 20px;
}
#Icon{
    font-size: 3rem;
}
.myname{
    font-family: 'VT323','monospace';
    text-shadow: 4px 2px 0px rgb(0, 0, 0);
}

body{
    background-color: #070707;
    
    
}

header{
    background-color:#181D2B ;
    height: 70px;
    padding: 0 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 10px solid black;
   
}
.nav_links::before{
    display: inline-flex;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: aqua;
}
nav a{
    padding:17px 12px;
    transition: .2s;
    display: inline-block;
     transition: transform 105ms linear;
    
}
.nav_links:hover{
    color:#ffffff ;
    background-color: #2b3248;
    transition: .5s;
    transform: scale(1.05);
    
}
.CV{
    display: inline-block;
    background-color: rgb(5, 5, 99);
    padding:12px 8px;
    box-shadow: 2px 2px 1px rgb(114, 114, 114);
    font-weight: 700;
    transition: transform 105ms cubic-bezier(.22,.61,.24,2.6);
    
    
}
main{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    height: 510px;
    background-size: 100%;
    border-bottom: 10px solid rgb(0, 0, 0);
    display: flex;
}

.CV:hover{
    background-color: #003cff;
    color: rgb(243, 122, 122);
    transform: scale(1.09);
}

.container{
    text-align:center ;
    background: blue;
    box-shadow: 10px 10px 0 black;

    
}

.container>h1,h2{
    font-size: 2rem;


}
.container h1{
    margin-bottom: 12px;
}





img{
    position: absolute;
    left: 67.45%;

}

.wrapper{
    width: 627px;
    display: flex;
    flex-direction: column;
}
.navigation{
    display: flex;
    justify-content: space-around;
}
