@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: rgb(237, 237, 237);
    text-decoration: none;
    font-family: 'Ubuntu Mono','monospace';
    font-size: 20px;
}
#Icon{
    font-size: 3rem;
}
.myname{
    font-family: 'VT323','monospace';
    text-shadow: 4px 2px 0px rgb(0, 0, 0);
}

body{
    background-color: #070707;
   
    color: white;
    
}

header{
    background-color:#181D2B ;
    height: 70px;
    padding: 0 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 10px solid black;
   
}
.nav_links::before{
    display: inline-flex;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: aqua;
}
nav a{
    padding:17px 12px;
    transition: .2s;
    display: inline-block;
     transition: transform 105ms linear;
    
}
.nav_links:hover{
    color:#ffffff ;
    background-color: #2b3248;
    transition: .5s;
    transform: scale(1.05);
    
}
.CV{
    display: inline-block;
    background-color: rgb(5, 5, 99);
    padding:12px 8px;
    box-shadow: 2px 2px 1px rgb(114, 114, 114);
    font-weight: 700;
    transition: transform 105ms cubic-bezier(.22,.61,.24,2.6);
    
    
}
main{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    height: 510px;
    background-size: 100%;
    border-bottom: 10px solid rgb(0, 0, 0);
    display: flex;
}

.CV:hover{
    background-color: #003cff;
    color: rgb(243, 122, 122);
    transform: scale(1.09);
}

.container{
    text-align:center ;
    background: blue;
    box-shadow: 10px 10px 0 black;
    margin-top: 50px;
    

    
}

.container>h1,h2{
    font-size: 2rem;


}
.container h1{
    margin-bottom: 12px;
}


#shin{
    position: absolute;
    left: 67.45%;

}

.main-buttons{
    margin-top: 30px;
}


.wrapper{
    width: 627px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.navigation{
    display: flex;
    justify-content: space-around;
    
}
.section{
    background-color: rgb(3, 3, 39);
    border-bottom: 10px solid rgb(0, 0, 0);
    text-align: center;
}

.titles{
    font-family: 'VT323','monospace';
    text-shadow: 4px 2px 0px rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 40px;
}
.skills-list{
    display: flex;
    flex-direction: column;
    height: 348px;
    width: 436px;
    margin: 0 auto;
    margin-bottom: 100px;
   justify-content: space-between;
    
}
.skill-smallcomponent{display: inherit;}

.skill-smallcomponent img{width: 80px;height:90px;margin-right: 50px;}

.file::-moz-progress-bar {
    background-color: red;
    height: 20px;
  }

.test{
    text-align: start;
    justify-content: space-around;
  }

.test h2{margin-bottom: 12px;}

.project-box{
    display: flex;
    justify-content: space-around;
}

.project-box span{
    display: block;
    height: 280px;
    width: 280px;
    background-color: rgb(161, 161, 161);
    box-shadow: 10px 10px 0 rgb(228, 0, 0);
    margin-bottom: 100px;
}

.section.-projects{
    background-color: rgb(19, 1, 1);
}

.text-box{
    max-width: 960px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom:184px ;
}

.titles.-about{
    margin-bottom: 70px;
}




.section.-contacts{
    background-color: rgb(19, 1, 1);
}
